# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
env/
ENV/
.venv/
.pipenv/
pip-wheel-metadata/

# PyCharm
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Test and coverage
.coverage
htmlcov/
.tox/
.pytest_cache/
nosetests.xml
coverage.xml

# Logs
*.log

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/